
final/.RData
final/.Rhistory
final/de_DE/de_DE.blogs.txt
final/de_DE/de_DE.news.txt
final/de_DE/de_DE.twitter.txt
final/en_US/en_US.blogs.txt
final/en_US/en_US.news.txt
final/en_US/en_US.twitter.txt
final/fi_FI/fi_FI.blogs.txt
final/fi_FI/fi_FI.news.txt
final/fi_FI/fi_FI.twitter.txt
final/ru_RU/ru_RU.blogs.txt
final/ru_RU/ru_RU.news.txt
final/ru_RU/ru_RU.twitter.txt
Coursera-Swiftkey.zip
final/.RDataTmp
.RData
.Rhistory
week2assignment_cache/html/__packages
week2assignment_cache/html/unnamed-chunk-1_215df630fc4a4694919ad2ac7625e048.RData
week2assignment_cache/html/unnamed-chunk-1_215df630fc4a4694919ad2ac7625e048.rdb
week2assignment_cache/html/unnamed-chunk-1_215df630fc4a4694919ad2ac7625e048.rdx
week2assignment_cache/html/unnamed-chunk-3_eb4fd12bcd89071654b9391025dcc325.RData
week2assignment_cache/html/unnamed-chunk-3_eb4fd12bcd89071654b9391025dcc325.rdb
week2assignment_cache/html/unnamed-chunk-3_eb4fd12bcd89071654b9391025dcc325.rdx
